@using System;
@model List<Belt.Models.DisplayAuction>

<br>
<p>Welcome, @ViewBag.name! | <a href='logout'>Logout</a></p>
<h2>Current Auctions</h2>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Seller</th>
        <th>Top Bid</th>
        <th>Time Remaining</th>
        <th></th>
    </tr>
    @foreach(var i in Model)
    {
        <tr>
            <td><a href='auction/@i.id'>@i.Product</a></td>
            @if(i.SellerId == ViewBag.id)
            {
                <td>You</td>
            }
            else
            {
                <td>@i.Seller</td>
            }
            <td>$@i.TopBid</td>
            <td>@i.TimeRemaining</td>
            @if(i.SellerId == ViewBag.id)
            {
                <td><a href='delete/@i.id'>Delete</a></td>
            }
            else
            {
                <td></td>
            }
            
        </tr>
    }
</table>
<br>
<a href='create_auction'><button>New Auction</button></a>
<br>
<br>
<p>You currently have $@ViewBag.Wallet.</p>